@media (max-width:900px) {
  .slider img{
    padding: 0 5px;
    height: 40vh;
  }
  .fot-2{
    display: block;
  }
  .fot-2 img{
    width: 100%;
  }
  textarea{
    width: 100%;
  }
  #form{
    display: block;
    text-align: center;
  }
  .container{
    width: 90%;
  }

}
@media (max-width:680px) {
  .slider img{
    height: 25vh;
  }
}
